@use 'bootstrap/scss/bootstrap.scss' with (
    $spacer: 0.75rem,
    $enable-negative-margins: true,
    $container-max-widths: (
        sm: 500px,
        md: 700px,
        lg: 940px,
        xl: 1120px,
        xxl: 1300px
    ),
    $pink: #d16595,
    $primary: #480ffc,
    $blue: #480ffc,
    $info: #85c5fb,
    $dark: #18181b,
    $gray-100: #e8e8e8,
    $gray-200: #d1d1d1,
    $gray-300: #bababb,
    $gray-400: #a3a3a4,
    $gray-500: #747476,
    $gray-600: #2f2f32,
    $gray-700: #18181b,
    $gray-800: #131316,
    $gray-900: #050505,
    $position-values: (
        0: 0,
        10: 10%,
        25: 25%,
        50: 50%,
        75: 75%,
        90: 90%,
        100: 100%,
    ),
    $grid-gutter-width: 0.75rem,
    $focus-ring-opacity: 0.5,
    $font-family-sans-serif: ('Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif),
    $font-size-base: 1.125rem,
    $font-weight-base: 400,
    $input-btn-border-width: 2px,
    $input-btn-padding-y-sm: 0.1875em,
    $input-btn-padding-x-sm: 0.375em,
    $input-btn-padding-y-lg: 0.375em,
    $input-btn-padding-x-lg: 1em,
    $btn-border-radius: 50rem,
    $btn-border-radius-sm: 50rem,
    $btn-border-radius-lg: 50rem,
);
@import 'colors.scss';
@import 'functions.scss';
@import 'elements.scss';
@import 'hero.scss';
@import 'card.scss';
@import 'nav.scss';
@import 'bento.scss';