---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Available Components">
    <div class="container">
        <h2><a href="/components/typography">Typography</a></h2>
        <h2><a href="/components/navigation">Navigation</a></h2>
        <h2><a href="/"></a></h2>
    </div>
</Layout>