---
import HashLink from "../../components/HashLink.astro";
import Layout from "../../layouts/Layout.astro";
const NavComponent = (await import('../../components/Navigation.astro')).default;
---
<Layout title="Navigation">
    <div class="container">
        <div class="vstack row-gap-3">
            <a href="../components">Back</a>
            <HashLink id="navigation">Navigation</HashLink>
            <hr class="mb-5">
        </div>
    </div>
    <NavComponent />
    <div class="container">
        <h3 class="h6 mb-0 mt-3">Centered</h3>
    </div>
    <NavComponent center={true} />
    <div class="container">
        <h3 class="h6 mb-0 mt-3">Floating</h3>
    </div>
    <NavComponent floating={true} />
    <div class="container">
        <h3 class="h6 mb-0 mt-3">Centered and Floating</h3>
    </div>
    <NavComponent floating={true} center={true} />
</Layout>