---
import Layout from "../layouts/Layout.astro";
import BentoBox from "../components/BentoBox.astro";
import Navigation from "../components/Navigation.astro";
---
<Layout title="See all the available components in action">
    <div class="container">
        <h2>Navigation</h2>
        <hr>
    </div>
    <Navigation />
    <div class="container">
        <h3 class="h6 mb-0 mt-3">Centered</h3>
    </div>
    <Navigation center={true} />
    <div class="container">
        <h3 class="h6 mb-0 mt-3">Floating</h3>
    </div>
    <Navigation floating={true} />
    <div class="container">
        <h3 class="h6 mb-0 mt-3">Centered and Floating</h3>
    </div>
    <Navigation floating={true} center={true} />
    <div class="container">
        <h2>Bento</h2>
        <hr>
    </div>
    <BentoBox />
    <div class="dark">
        <BentoBox theme="light" />
    </div>

</Layout>
<style>
    .dark {
        padding-block: 2rem;
        background-color: var(--bs-gray-900)
    }

    body {
        row-gap: 1.5rem;
    }
</style>