---
interface Props {
	title: string;
	body: string;
	href?: string;
}

const { href, title, body } = Astro.props;
---
<div class="card">
	<h2>
		{title}
		<span>&rarr;</span>
	</h2>
	<p>
		{body}
	</p>
	{href && <a href={href} class="stretched-link">
		<span class="visually-hidden">Go to page at {href}</span>
	</a>}
</div>