---
import '../styles/index.scss';
import { createPalette } from '../lib/colors';
import Footer from '../components/Footer.astro';
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer'
import Navigation from '../components/Navigation.astro';
import * as config from '../../public/config.json';

const base = config?.base ?? '';

interface Props {
	title: string;
}

const { title } = Astro.props;

const primaryHexes = 'f9ecf2,eec5d7,e29fbd,d679a3,d16595,c53f7b,9e3262,76264a,4f1931,270d19';
const secondaryHexes = 'f1f9ff,d6ecfe,bbdffd,a0d2fc,85c5fb,6bace1,5386af,3c607d,24394b,0c1319';
const grayHexes = 'ffffff,e8e8e8,d1d1d1,bababb,a3a3a4,747476,2f2f32,18181b,131316,000000';

const colors = {
	...createPalette(primaryHexes, 'bs-primary'),
	...createPalette(secondaryHexes, 'bs-secondary'),
	...createPalette(grayHexes, 'bs-gray')
}

colors['bs-dark'] = colors['bs-gray-900'];
colors['bs-dark-hsl'] = colors['bs-gray-900-hsl'];
colors['bs-dark-hex'] = colors['bs-gray-900-hex'];
colors['bs-dark-rgb'] = colors['bs-gray-900-rgb'];
colors['bs-black'] = colors['bs-gray-900'];
const globalNav = [
	{
		href: '/',
		text: 'Home'
	},
	{
		href: '/solutions',
		text: 'Solutions'
	},
	{
		href: '/components',
		text: 'Components'
	}
].map((navItem) => {
	navItem.href = (import.meta.env.DEV ? '' : base) + navItem.href;
	return navItem;
})
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" />
		<script is:inline>
			
			const theme = localStorage.getItem('is-dark') ?? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
			console.log(localStorage.getItem('is-dark'), theme);
			document.documentElement.dataset.bsTheme = theme;
			localStorage.setItem('is-dark', theme);
		</script>
	</head>
	<body>
		<Navigation navItems={globalNav} />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>